.registrationConfirmation {
  visibility: hidden;
}

.modal__container {
  min-width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.modal__header {
  font-size: 24px;
  max-width: 315px;
  margin: 0 0 14px 0;
}

.modal__login {
  font-size: 18px;
  align-self: baseline;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #2f71e5;
}

.modal_visible {
  visibility: visible;
}
