.savedNews__header {
  padding: 40px max(10vw, 40px) 56px max(5vw, 20px);
  background-color: white;
}

.savedNews__title {
  font-size: 18px;
  font-weight: 400;
  color: #1a1b2280;
}

.savedNews__subtitle {
  width: 530px;
  font-size: 40px;
  font-family: "Roboto-Slab";
  font-weight: 400;
}
.savedNews__keywords {
  font-size: 18px;
}

.savedNews__list {
  padding: 62px 104px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .savedNews__title {
    font-size: 14px;
    width: max-content;
    margin: 0;
  }
  .savedNews__list {
    padding: 32px 40px;
    gap: 8px;
    flex-wrap: nowrap;
  }

  .savedNews__subtitle {
    font-size: 30px;
    width: 336px;
  }
  .savedNews__keywords {
    width: max-content;
  }

  .savedNews__header {
    padding: 24px 0 32px 40px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .savedNews__header {
    padding: 8px 16px 32px 16px;
  }
  .savedNews__title {
    margin: 0;
    line-height: 24px;
    font-size: 12px;
  }
  .savedNews__subtitle {
    width: 268px;
    margin: 16px 0 50px 0;
    font-size: 30px;
  }
  .savedNews__keywords {
    width: max-content;
    margin: 0;
    line-height: 24px;
    width: 288px;
  }
  .savedNews__list {
    padding: 24px 16px 12px 16px;
    margin: 0;
  }
}
