.navigation-mobile {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
  font-family: "Roboto", Arial, sans-serif;
  width: 100%;
  height: 100%;
}

.navigation-mobile__modal {
  background-color: #1a1b22;
  padding: 0 0 24px 0;
  position: relative;
}
.navigation-mobile__logo {
  color: white;
  font-size: 16px;
  font-family: "Roboto Slab", Arial, sans-serif;
  text-decoration: none;
  font-weight: bold;
}
.navigation-mobile__close {
  background-image: url("src/assets/close-white.svg");
  position: absolute;
  width: 24px;
  height: 24px;
  right: 16px;
  top: 16px;
  background-color: transparent;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation-mobile__header {
  padding: 16px;
  border-bottom: 2px solid rgba(196, 196, 196, 0.2);
}

.navigation-mobile__not-logged-in {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 16px;
}

.navigation-mobile__home {
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  height: 58px;
  display: flex;
  align-items: center; /* Aligns text to the top */
}

.navigation-mobile__sign_in {
  height: 56px;
  border-radius: 100px;
  width: 288px;
  color: white;
  background: transparent;
  border: 1px solid white;
}

.navigation-mobile__saved-news {
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  height: 58px;
  display: flex;
  align-items: center; /* Aligns text to the top */
}

.navigation-mobile__logout {
  height: 56px;
  border-radius: 100px;
  width: 288px;
  color: white;
  background: transparent;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.modal_visible {
  visibility: visible;
}
