.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 104px 26px 104px;
  background-color: white;
}

.footer__header {
  font-size: 16px;
  color: darkgray;
  font-weight: 400;
}

.footer__nav {
  display: flex;
  gap: 40px;
  font-size: 18px;
  align-items: center;
}
.footer__home {
  text-decoration: none;
  color: black;
  font-weight: 400;
}
.footer__tripleten {
  text-decoration: none;
  color: black;
  font-weight: 400;
}
.footer__logos-lists {
  gap: 24px;
  display: flex;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer {
    padding: 24px 20px 18px 40px;
  }
  .footer__nav {
    align-self: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
    padding: 20px 16px 22px 16px;
  }
  .footer__header {
    margin: 38px 0 0 0;
  }
  .footer__nav {
    width: 288px;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer__lists {
    height: 74px;
    display: grid;
    margin: 0;
    padding: 0;
  }
  .footer__tripleten {
    align-self: end;
  }
}
